@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    padding-top: 70px;
}

div div div img {
    width: 100%;
    height: auto;
}

.bg-green {
    background-color: #091F22;
}

.bg-black {
    background-color: #000000;
}

.text-gold {
    color: goldenrod !important;
    font-family: 'Jim Nightshade', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.text-white {
    color: #E6D4B1 !important;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #D68C52;
}

a {
    color: white;
}

a:hover {
    color: #BED3DA;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

.card {
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(63, 10, 11,0.4));
    border: 1px solid #27241F !important;
    border-radius: 15px!important;
}